// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

/* Sticky footer styles
      -------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #ffffff;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  /*
      #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
      }
  */
}

/* Sticky footer styles ends */

html,
body {
  font-family: 'PT Sans', sans-serif;
}

.container .credit {
  margin: 20px 0;
}

body {
  background: #e0e6e7;
}

.container.body {
  background: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .container {
    width: 978px;
  }
}

.navbar {
  font-size: 17px;
  font-weight: bold;
}

.dropdown-menu {
  font-size: 17px;
}

.navbar-default .navbar-nav > li > a {
  color: #596a82;
}

@media (min-width: 768px) {
  .ride-view .dl-horizontal dt {
    text-align: left;
    width: 160px;
  }
}

.ride-view .dl-horizontal dd,
.ride-view .dl-horizontal dt {
  padding: 3px 0;
}

.navbar-default {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
}

.ride h3 {
  font-size: 17px;
  font-weight: bold;
}

.ride .user {
  color: #5da6de;
  font-weight: bold;
}

.rides .list-group-item {
  border-left: none;
  border-right: none;
  padding: 10px 0;
}
.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 26px;
}

.datetime.form-control {
  width: auto;
  display: inline-block;
}

.rides-search-form {
  .departure-place {
    .glyphicon {
      color: green;
    }
  }
  .arrival-place {
    .glyphicon {
      color: red;
    }
  }
}
