<%= link_to ride_path(ride), class: 'list-group-item' do %>
  <div class="row ride">
    <div class="col-sm-10">
      <h3>
        <span><%= ride.departure_place.vicinity %></span>
        <span>&#8594;</span>
        <span><%= ride.arrival_place.vicinity %></span>
      </h3>

      <div class="date">
        <span class="glyphicon glyphicon-time" style="color: #5da6de"></span>
        <%= ride.date.to_formatted_s(:short) %>
      </div>
    </div>

    <div class="col-sm-2">
      <h3>
        <%= number_to_currency ride.price, unit: 'Сом', format: '%n %u' %>
      </h3>

      <div>
        <%= ride.car_make_model %>
      </div>
    </div>

  </div>
<% end %>
