<div class="well">
  <%= search_form_for @ride_search, html: { class: 'form-inline rides-search-form' } do |f| %>

    <div class="form-group departure-place">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-map-marker"></span>
        </div>
        <%= f.search_field :departure_place_name_cont, placeholder: 'Место отправки', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group arrival-place">
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></div>
        <%= f.search_field :arrival_place_name_cont, placeholder: 'Место прибытия', class: 'form-control' %>
      </div>
    </div>

    <%= f.submit 'Filter', class: 'btn btn-primary' %>
  <% end %>

</div>
