<div class="">
  <%= simple_form_for @ride, html: {class: 'form-horizontal'},
                      wrapper: :horizontal_form,
                      wrapper_mappings: {
                          check_boxes: :horizontal_radio_and_checkboxes,
                          radio_buttons: :horizontal_radio_and_checkboxes,
                          file: :horizontal_file_input,
                          boolean: :horizontal_boolean
                      } do |f| %>
    <%= f.input :departure_place_name %>
    <%= f.input :arrival_place_name %>
    <%= f.input :price %>
    <%= f.input :date, as: :datetime %>
    <%= f.input :contact_person_name %>
    <%= f.input :contact_phone_number %>
    <%= f.input :car_make_model %>
    <%= f.input :car_seats %>
    <%= f.button :submit, class: 'btn-primary' %>
  <% end %>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&language=ru&region=KG"></script>
<script>

  var options = {
    types: ['(cities)']
  };

  function handlePlaceInput(inputBoxId)
  {
    var inputPlaceAutoComplete = document.getElementById(inputBoxId);
    var autocomplete = new google.maps.places.Autocomplete(inputPlaceAutoComplete, options);

    google.maps.event.addListener(autocomplete, 'place_changed', function () {
      var place = {
        'place_id': autocomplete.getPlace().place_id,
        'vicinity': autocomplete.getPlace().vicinity,
        'name': $('#'+ inputBoxId).val(),
        'lat': autocomplete.getPlace().geometry.location.lat(),
        'lon': autocomplete.getPlace().geometry.location.lng()
      };
      console.log(place);
      $.post('<%= place_selected_path %>', {'place': place}, 'json');
    });
  }

  handlePlaceInput('ride_departure_place_name');
  handlePlaceInput('ride_arrival_place_name');

</script>