<div class="row ride-view">
  <div class="col-sm-10">

    <h1>
      <span><%= @ride.departure_place.name %></span>
      <span>&#8594;</span>
      <span><%= @ride.arrival_place.name %></span>,
      <span class="price"><%= number_to_currency @ride.price, unit: 'Сом', format: '%n %u' %></span>
    </h1>
    <dl class="dl-horizontal">
      <dt>Дата</dt>
      <dd><%= @ride.date.to_formatted_s(:short) %></dd>
      <dt>Авто</dt>
      <dd><%= @ride.car_make_model %></dd>
      <dt>Мест</dt>
      <dd><%= @ride.car_seats %></dd>
    </dl>
  </div>
  <div class="col-sm-2">
    <h1>
      <span class="glyphicon glyphicon-user"></span>
    </h1>
    <%= @ride.contact_person_name %>

    <div>
      <span class="glyphicon glyphicon-phone"></span>
      <%= @ride.contact_phone_number %>
    </div>

  </div>
</div>
