<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Вокзал" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Vokzal" %>">

    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=cyrillic-ext,latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <%= render 'layouts/navigation' %>
      <div class="container body">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">
          &copy; <%= Time.zone.now.year %> Vokzal.KG
        </p>
      </div>
    </div>
  </body>
</html>
